$brown : #4d3a2d;

.loginbody{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,194,175,1) 51%, rgba(77,58,45,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginArea{
    height: 650px;
    width: 562px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px #ddc2af solid;
}
.loginHead{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginHead{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $brown;
    text-transform: uppercase;
    margin-top: 15px;
}
.formBody{
    padding: 0 40px;
}
.logo{
    width: 35%;
    height: 35%;
}
.form{
    label{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: $brown;

    }
    input{
        width: 455px;
        height: 60px;
        border-radius: 40px;
        border: 1px $brown solid;
        color: $brown;
background-color: #ddc2af;
        margin-top: 7px;
        margin-bottom: 5px;
        // text-align: center;
    }
}
.formBody{
    button{
        background-color: $brown;
        width: 452px;
        height: 60px;
        color: white;
        border: 1px #E7E7E7 solid;
         border-radius: 40px;
         cursor: pointer;
         margin-top: 10px;
    text-transform: uppercase;
font-size: 16px;
font-weight: 800;
margin-top: 30px;
    }
    button:hover{
        background-color: #7e624f;

    }}
    .loader {
        border: 3px solid #f3f3f3; 
        border-top: 3px solid $brown; 
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
        margin: auto;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    .error {
        color: red;
        font-size: 15px;
        margin-top: 15px;
      }